//! **************************************************************************
// Written by: Map P.49d on Wed Jul 24 21:00:27 2013
//! **************************************************************************

SCHEMATIC START;
NET "Clk25_BUFGP/IBUFG" BEL "Clk25_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

