//! **************************************************************************
// Written by: Map P.49d on Fri Aug 23 23:12:01 2013
//! **************************************************************************

SCHEMATIC START;
COMP "CS" LOCATE = SITE "B2" LEVEL 1;
COMP "CLK" LOCATE = SITE "M6" LEVEL 1;
COMP "TXD" LOCATE = SITE "A3" LEVEL 1;
COMP "sCLK" LOCATE = SITE "B5" LEVEL 1;
COMP "high" LOCATE = SITE "D12" LEVEL 1;
COMP "tune" LOCATE = SITE "P11" LEVEL 1;
COMP "rx_databus<2>" LOCATE = SITE "A13" LEVEL 1;
COMP "rx_databus<3>" LOCATE = SITE "C12" LEVEL 1;
COMP "rx_databus<4>" LOCATE = SITE "C9" LEVEL 1;
COMP "rx_databus<5>" LOCATE = SITE "A10" LEVEL 1;
COMP "rx_databus<6>" LOCATE = SITE "B9" LEVEL 1;
COMP "rx_databus<7>" LOCATE = SITE "A9" LEVEL 1;
COMP "rx_databus<8>" LOCATE = SITE "B7" LEVEL 1;
COMP "rx_databus<9>" LOCATE = SITE "C5" LEVEL 1;
COMP "pulse" LOCATE = SITE "C13" LEVEL 1;
COMP "rx_databus<10>" LOCATE = SITE "B6" LEVEL 1;
COMP "rx_databus<11>" LOCATE = SITE "C6" LEVEL 1;
COMP "stringsel<0>" LOCATE = SITE "K3" LEVEL 1;
COMP "stringsel<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "stringsel<2>" LOCATE = SITE "G3" LEVEL 1;
COMP "stringsel<3>" LOCATE = SITE "F3" LEVEL 1;
COMP "stringsel<4>" LOCATE = SITE "E2" LEVEL 1;
COMP "stringsel<5>" LOCATE = SITE "N3" LEVEL 1;
COMP "LEDs<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "LEDs<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "LEDs<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "LEDs<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "LEDs<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "LEDs<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "LEDs<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "LEDs<7>" LOCATE = SITE "G1" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "CLK_BUFGP/IBUFG" PERIOD = 40 ns HIGH 50%;
SCHEMATIC END;

